.header {
  padding: 1rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    width: 33.819%;
    height: fit-content;

    &--small {
      @include tablet {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include tablet {
        display: block;
      }
    }

    @include tablet {
      width: 15%;
    }

    @include desktop {
      width: 11.6%;
    }
  }

  &__btnPost {
    height: fit-content;
    font-size: 1rem;
    line-height: 1.3;
    color: $color-white;
    background-color: $color-black;
    border-radius: 6.25rem;
    padding: 0.725rem 2rem;

    @include tablet {
      font-size: 0.875rem;
      padding: 0.68125rem 2rem;
    }

    @include desktop {
      font-size: 1.125rem;
      padding: 0.769rem 2rem;
    }
  }
}