.hero {
  padding: 2rem 0;

  &__title {
    margin-bottom: 1.1rem;
    line-height: 1;

    @include tablet {
      margin-bottom: 1.2rem;
    }

    @include desktop {
      margin-bottom: 1.8rem;
      max-width: 52rem;
    }
  }

  &__description {
    margin-bottom: 1.5rem;
    color: $color-gray;

    @include tablet {
      margin-bottom: 1.8rem;
    }

    @include desktop {
      margin-bottom: 3rem;
      max-width: 43rem;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  &__card-image {
    display: none;
    flex-grow: 1;
    border-radius: 2rem;
    height: fit-content;

    &_large {
      display: block;
      flex-grow: 2;
    }

    @include tablet {
      display: block;
      border-radius: 2.2rem;
    }

    @include desktop {
      border-radius: 3.8rem;
    }
  }

  @include tablet {
    padding: 2rem 0 3rem;
  }

  @include desktop {
    padding: 3rem 0 5.6rem;
  }
}
