.audience {
  padding: $section-padding-mobile;

  &__title {
    margin-bottom: 0.8rem;

    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__description {
    margin-bottom: 1.5rem;
    color: $color-gray;

    @include tablet {
      margin-bottom: 2rem;
    }

    @include desktop {
      margin-bottom: 3.5rem;
      max-width: 58rem;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    margin-bottom: 2.4%;
    border-radius: 2rem;
    padding: 1.3rem 1rem;
    width: 48.7%;
    min-height: 13.5rem;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;

    &:nth-child(1) {
      background-image: url("../../public/images/audience-coffie.webp");
    }

    &:nth-child(2) {
      background-image: url("../../public/images/audience-cakes.png");
    }

    &:nth-child(3) {
      background-image: url("../../public/images/audience-tables.png");
    }

    &:nth-child(4) {
      background-image: url("../../public/images/audience-fish.png");
      background-position: center center;
    }

    &:nth-child(5) {
      background-image: url("../../public/images/audience-herbs.png");
    }

    &:nth-child(6) {
      background-image: url("../../public/images/audience-pizza.png");
    }

    @include tablet {
      margin-bottom: 1.3%;
      padding: 1.5rem 1.3rem;
      width: 32.4%;
      min-height: 17.5rem;
    }

    @include desktop {
      margin-bottom: 0;
      border-radius: 2.5rem;
      min-height: 23.9rem;
      max-width: 12.4rem;
    }
  }

  &__label {
    border-radius: 1.9rem;
    padding: 0.4rem 0.8rem;
    width: fit-content;
    color: $color-gray;
    background-color: $color-white;

    @include tablet {
      padding: 0.5rem 1rem;
    }

    @include desktop {
      padding: 0.5rem 1rem;
    }
  }

  @include tablet {
    padding: $section-padding-tablet;
  }

  @include desktop {
    padding: $section-padding-desktop;
  }
}
