@font-face {
  font-family: 'Arial';
  src: url('../public/fonts/arialRegular/arialmt.woff2') format('woff2'),
    url('../public/fonts/arialRegular/arialmt.woff') format('woff'),
    url('../public/fonts/arialRegular/arialmt.ttf') format('truetype'),
    url('../public/fonts/arialRegular/arialmt.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/helveticaRegular/helvetica_regular.woff2') format('woff2'),
    url('../public/fonts/helveticaRegular/helvetica_regular.woff') format('woff'),
    url('../public/fonts/helveticaRegular/helvetica_regular.ttf') format('truetype'),
    url('../public/fonts/helveticaRegular/helvetica_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/helveticaLight/helvetica_light.woff2') format('woff2'),
    url('../public/fonts/helveticaLight/helvetica_light.woff') format('woff'),
    url('../public/fonts/helveticaLight/helvetica_light.ttf') format('truetype'),
    url('../public/fonts/helveticaLight/helvetica_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

.arialRegular {
  font-family: 'Arial';
  font-weight: 400;
}

.helveticaRegular {
  font-family: 'Helvetica';
  font-weight: 400;
}

.helveticaLight {
  font-family: 'Helvetica';
  font-weight: 300;
}

