// Container padding
$pd-mobile: 1rem;
$pd-tablet: 1.4rem;
$pd-desktop: 3.5rem;

// Seсtion padding
$section-padding-mobile: 2rem 0;
$section-padding-tablet: 3rem 0;
$section-padding-desktop: 5.6rem 0;

// Black color
$color-black: rgb(000 000 000);
$color-black-card-bg: rgb(24 22 23);
$color-black-card-title: rgb(15 17 25);

// White color
$color-white: rgb(255 255 255);
$color-white-70: rgb(255 255 255 / 70%);
$color-white-category-bg: rgb(219 220 225);
$color-white-text-category: rgb(246 247 243);
$color-white-demonstration-bg: $color-white-category-bg;

// Gray color
$color-gray: rgb(87 87 87);
$color-gray-category-bg: rgb(239 240 242);
$color-gray-status-label: rgb(194 194 194);
$color-gray-btn-bg: rgb(142 143 147);

// Red color
$color-red-category-bg: rgb(251 0 44);

// Globals
$body-bg-color: rgb(242 242 244);
